<ion-header>
  <ion-toolbar>
    
    <ion-title>
     CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-icon name="logo-whatsapp"></ion-icon>
  <ion-list>
    <ion-item *ngFor="let cliente of clientes" (click)="SelecionarCliente(cliente)">
      <ion-avatar slot="start">
          <img src={{cliente.imagem}}> 
      </ion-avatar>
         {{cliente.nome}}<br>
        {{cliente.telefone}}
    </ion-item>
  </ion-list>
  <ion-button expand="block">Block Button</ion-button>
</ion-content>